.container {
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 828px;
}
.stepper {
  display: flex;
  flex-direction: row;

  padding-bottom: 70px;
}

.stepperWithLogo {
  display: flex;
  flex-direction: row;
}

.swiper {
  display: 'flex';
  align-items: center;
}

.mobileStepper,
.linearProgress {
  width: 100%;
}

.linearProgress {
  height: 4px;
  background-color: unset !important;
}

.linearProgress div {
  height: 4px !important;
  background-color: #3ce35f !important;
}

.stepNumber {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;

  text-align: right;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #000000;
}

.swiperContainer {
  height: max-content;
  position: relative;
}

.slide {
  height: auto;
}
