.container {
  width: 72px;

  aspect-ratio: 1;
  border-radius: 100%;
}

/* Responsive */

@media only screen and (max-width: 767px) {
  .container {
    width: 44px;
  }

  .container > svg {
    width: 24px;
  }
}
