.type {
  width: 320px;
  margin: auto;
}

.disabled {
  color: var(--color-dark-grey);
}

.item {
  margin-top: 24px;
}

.option {
  margin-top: 16px;
}

.popup {
  width: 362px;
}

.percent {
  width: 173px;
  height: 72px;
  border-radius: 12px;
  mix-blend-mode: normal;
  box-sizing: border-box;
  text-transform: none;
  border: 1px solid var(--color-grey);
}

.selected {
  border: 2px solid var(--color-jet-black);
}

.number {
  color: var(--color-black);
}

.daily {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-dark-grey);
}

.name {
  color: var(--color-dark-grey);
}

.value {
  color: var(--color-darkest-grey);
}

[data-theme="dark"] .number {
  color: var(--color-light-grey);
}

[data-theme="dark"] .selected {
  background-color: var(--color-jet-black) !important;
}

[data-theme="dark"] .back path {
  stroke: var(--color-light-grey);
}

/* Responsive */

@media only screen and (max-width: 767px) {
  .type {
    width: min(320px, 100%);
  }

  .popup {
    width: min(362px, calc(100vw - 68px));
  }

  .option > div {
    justify-content: center;
  }
}
