.container {
  height: 48px;
}

.icon {
  width: 16px;
  height: 16px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  transition: transform 0.7s ease;
  color: rgba(0, 0, 0, 0.54);
  pointer-events: none;
}

.revert {
  transform: translateY(-50%) rotate(0deg);
}

.value::first-letter,
.item::first-letter {
  text-transform: capitalize;
}
