@import '../fonts.css';

:root {
  --black: black;
  --white: white;
  --lightest-green: #c5ffd9;
  --light-green: #59f28b;
  --green: #3ce35f;
  --dark-green: #26bc57;
  --lightest-blue: #e5f5fa;
  --light-blue: #9feaff;
  --blue: #00a9d8;
  --dark-blue: #123c53;
  --darkest-blue: #002030;
  --pink: #ff7979;
  --gray: #eeeeee;
  --warning: #f9c057;
  --error: #ff7979;

  --color-off-white: #fafafa;
  --color-jet-black: #141414;
  --color-green: #26bc57;
  --color-soft-green: #b5e8d0;
  --color-yellow: #fbe159;
  --color-soft-yellow: #f0f2a2;
  --color-pink: #d4aeed;

  --font-title-name: Space Grotesk, sans-serif;
  --font-body-name: Space Grotesk, sans-serif;
}

body,
input,
select,
button {
  font-family: var(--font-body-name);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

a {
  color: white;
  text-decoration: underline;
  margin: 0 5px 0 5px;
}

.container {
  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;

  gap: 10px;
  overflow: hidden;
}

.full-ads {
  width: calc(100vw + 20px);
  height: calc(100vh + 20px);

  position: absolute;
  top: -20px;
  left: -20px;

  z-index: 0;
  overflow: hidden;
}

.row-1,
.row-2,
.row-3 {
  display: flex;
}

.row-1,
.row-2 {
  width: calc(100% - 40px);
  padding: 20px;
  z-index: 1;
}

.row-1 {
  justify-content: space-between;
  align-items: flex-start;
}

.row-2 {
  justify-content: center;
}

.row-3 {
  justify-content: space-between;
}

.item-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.item-copyright {
  display: flex;
  justify-content: flex-end;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  color: white;
  filter: drop-shadow(1px 1px 1px black);
}

.item-search {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.item-fav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-ads {
  grid-column: 1;
  grid-row: 2 / 4;

  display: flex;
  justify-content: start;
  align-items: end;

  padding: 20px;
}

.item-clock {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  padding: 20px;
  z-index: 1;
}

.item-actions > div {
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px black);
}

.item-actions-customise {
  display: flex;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  gap: 10px;
  color: white;
}

.item-actions > div > img,
.item-actions-customise > div > img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

::placeholder {
  color: white;
  opacity: 0.7;
}

.search-form {
  width: 440px;
  border-radius: 5px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.search-form input {
  width: 100%;
  height: 45px;
  background: transparent;
  color: white;

  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  font-size: 18px;

  text-align: center;
}

.fav-sites {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(72px, auto);
}

.site-box {
  position: relative;
}

.site-box > a {
  color: unset;
  margin: unset;
  text-decoration: unset;
}

.fav-site {
  width: 72px;
  height: 72px;

  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.fav-site > img {
  max-width: 48px;
  height: auto;
}

.remove-site {
  width: 15px;
  height: 15px;

  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.remove-site > img {
  display: none;
}

.site-box > a:hover + .remove-site,
.remove-site:hover {
  background: red;

  display: flex;
  justify-content: center;
  align-items: center;
}

.site-box > a:hover + .remove-site > img,
.remove-site:hover > img {
  width: 10px;
  height: 10px;

  display: inline-block;
  transform: rotate(45deg);
}

.time,
.date {
  width: max-content;

  font-family: var(--font-title-name);
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;

  color: white;
  filter: drop-shadow(1px 1px 1px black);
}

.time {
  font-size: 90px;
  line-height: 98px;
}

.date {
  border-top: white solid 1px;
  font-size: 50px;
  line-height: 56px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.toast-panel-container {
  background: white;
  box-shadow: 0 4px 8px rgba(44, 62, 62, 0.04);
  border-radius: 8px;
  padding: 8px;
}

.toast-panel {
  align-items: center;
}

.toast-image {
  margin: 0 12px;
}

.toast-title,
.toast-text {
  font-style: normal;
  font-weight: 415;
  font-size: 14px;
  line-height: 20px;
}

.toast-title {
  color: black;
}

.toast-text {
  color: #6b7883;
}

.toast-text::first-letter {
  text-transform: capitalize;
}

.toast-message-success {
  border-left: 4px solid var(--green);
}

.toast-message-error {
  border-left: 4px solid var(--error);
}

.toast-message-warning {
  border-left: 4px solid var(--warning);
}

.small-popup {
  width: 362px;
  padding: 24px;
}

.large-popup {
  width: 720px;
  padding: 24px;
}

.popup-title {
  font-style: normal;
  font-weight: 415;
  font-size: 20px;
  line-height: 150%;

  color: #002030;
}

.popup-separator {
  width: calc(100% + 48px);
  height: 1px;
  margin: 12px -24px;
  border-bottom: 1px solid #e7f4f4;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-content-sidenav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
}

.popup-actions-cancel {
  height: 48px;
  width: 114px;
}

.popup-actions-submit {
  height: 48px;
  width: 131px;
}

.customisation-container {
  width: max-content;
}

.customisation-nav {
  width: 244px;
  margin-top: -12px;

  border-right: 1px solid #e7f4f4;
}

.settings-option {
  cursor: pointer;
  margin-left: -24px;
  padding: 12px 24px 18px 24px;

  border-bottom: 1px solid #e7f4f4;
}

.customisation-content {
  width: 477px;
  max-height: 260px;
  overflow: auto;
}

.cs-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 10px;
  padding: 0 30px;
}

.cs-options-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cs-option {
  width: 120px;
  height: 80px;

  border: 1px solid #e7f4f4;
  border-radius: 15px;

  cursor: pointer;
}

.cs-option-2 {
  width: 188px;
  height: 120px;

  border: 1px solid #e7f4f4;
  border-radius: 15px;

  cursor: pointer;
}

.cs-option-3 {
  display: flex;
  align-items: center;

  gap: 12px;
}

.click-ignore-wrapper {
  display: flex;
  width: 100%;
}

.click-ignore-col1 {
  width: 20px;
  height: 100%;
  z-index: 1;
}

.click-ignore-col2 {
  width: 72px;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.click-ignore-col2 .row1 {
  width: 72px;
  height: 20px;
  z-index: 1;
}

.click-ignore-col2 .row2 {
  width: 72px;
  height: 72px;
  background: #0006;
  border-radius: 20px;
  z-index: 1;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.click-ignore-col2 .row3 {
  width: 72px;
  height: calc(100% - 92px);
  z-index: 1;
}

.click-ignore-col3 {
  width: calc(100% - 92px);
  height: 100%;
  z-index: 1;
}

.swash-fullscreen-link {
  top: 0 !important;
  bottom: 0 !important;
}
