@media only screen and (max-width: 768px) {
  .container {
    min-height: 600px;
  }

  .row-1 {
    flex-direction: column;
    gap: 20px;
  }

  .row-3 {
    justify-content: center;
  }

  .item-copyright {
    justify-content: flex-start;
  }

  .item-clock {
    display: none;
  }

  .popup-content-sidenav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .customisation-nav {
    width: calc(100% + 48px);
    border-right: unset;
    border-bottom: 1px solid #e7f4f4;
    margin-left: -24px;
  }

  .settings-option {
    width: 120px;
    border-right: 1px solid #e7f4f4;
    border-bottom: unset;
    margin-left: unset;
  }

  .customisation-content {
    width: unset;
  }

  .bg-options {
    justify-content: center;
  }
}

@media only screen and (max-width: 468px) {
  .fav-sites {
    transform: scale(0.75);
  }
}
