.container,
.container > div {
  padding: 0 !important;
}

.container {
  margin: 6px 0 !important;
}

.container > div {
  margin: 0 !important;
}

.container {
  min-height: 56px !important;
  padding: 4px 12px;
}

/* Dark theme */
[data-theme="dark"] .container button svg {
  fill: var(--color-lightest-grey) !important;
}
