[data-theme='dark'] body,
[data-theme='dark'] .content > div,
[data-theme='dark'] .select-paper,
[data-theme='dark'] .verified-dark-background,
[data-theme='dark'] .icon-button-container,
[data-theme='dark'] .ongoing-top-page,
[data-theme='dark'] .charity {
  background-color: var(--color-jet-black) !important;
}

[data-theme='dark'] .sidenav > div,
[data-theme='dark'] .simple-card,
[data-theme='dark'] .numeric-container,
[data-theme='dark'] .profile-verification-container,
[data-theme='dark'] .extension-popup {
  background-color: var(--color-darkest-grey);
}

[data-theme='dark'] body,
[data-theme='dark'] .sidenav-icon-title,
[data-theme='dark'] .numeric-number,
[data-theme='dark'] .select-item-value,
[data-theme='dark'] .icon-button-text,
[data-theme='dark'] .verified-info-value,
[data-theme='dark'] .charity-title,
[data-theme='dark'] .charity-text,
[data-theme='dark'] .donate-confirmation-value,
[data-theme='dark'] .donation-burn-title,
[data-theme='dark'] .donation-burn-text,
[data-theme='dark'] .transaction-table-header tr th,
[data-theme='dark'] .transaction-table-body tr td,
[data-theme='dark'] .help-title,
[data-theme='dark'] .help-text,
[data-theme='dark'] .extension-popup-numerics-value {
  color: var(--color-white);
}

[data-theme='dark'] input {
  border-color: var(--color-dark-grey) !important;
}

[data-theme='dark'] .numeric-title,
[data-theme='dark'] .donation-burn-text a,
[data-theme='dark'] .transaction-table-body tr td a,
[data-theme='dark'] .help-text a,
[data-theme='dark'] .data-tab,
[data-theme='dark'] .extension-popup-numerics-label {
  color: var(--color-dark-grey);
}

[data-theme='dark'] .input > input,
[data-theme='dark'] .input > div,
[data-theme='dark'] .select-item-value,
[data-theme='dark'] .sidenav-icon img,
[data-theme='dark'] .circle-container > svg,
[data-theme='dark'] .solid-line,
[data-theme='dark'] .verify-profile-punch,
[data-theme='dark'] .transaction-table-pagination div,
[data-theme='dark'] .extension-popup-menu-item,
[data-theme='dark'] .twitter-share-button img {
  color: var(--color-black);
  filter: invert();
}

[data-theme='dark'] .verify-profile,
[data-theme='dark'] .earn-more-option-title,
[data-theme='dark'] .earn-more-option-subtitle {
  color: var(--color-black);
}
