@import 'fonts.css';

:root {
  --black: black;
  --white: white;
  --lightest-green: #c5ffd9;
  --light-green: #59f28b;
  --green: #3ce35f;
  --dark-green: #26bc57;
  --lightest-blue: #e5f5fa;
  --light-blue: #9feaff;
  --blue: #00a9d8;
  --dark-blue: #123c53;
  --darkest-blue: #002030;
  --pink: #ff7979;
  --gray: #eeeeee;
  --warning: #f9c057;
  --error: #ff7979;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;

  color: var(--black);
  overflow-x: hidden !important;
}

body,
input,
select,
button {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.input-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 75px);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: 'Sans Sequel', sans-serif;
  margin: 0;
}

h1 {
  font-weight: 410;
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-weight: 410;
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-weight: 410;
  font-size: 24px;
  line-height: 150%;
}

h4 {
  font-weight: 410;
  font-size: 22px;
  line-height: 24px;
}

h5 {
  font-weight: 415;
  font-size: 24px;
  line-height: 150%;
}

/* h6 {z
  font-weight: 410;
  font-size: 28px;
  line-height: 33px;
} */

h6 {
  font-weight: 415;
  font-size: 20px;
  line-height: 150%;
}

p {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

p > a {
  color: var(--blue);
}

a {
  text-decoration: none;
  color: var(--black);
  position: relative;

  transition: background-position 500ms ease;
}

a:hover {
  color: var(--dark-green);
}

hr.custom {
  border: 1px solid #e7f4f4;
  width: 100%;
  margin: 8px 0;
}

hr.nav {
  border: 1px solid #e7f4f4;
  width: calc(100% + 64px);
  margin: -32px 0 32px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.solid-line {
  width: 100%;
  position: absolute;
  border-top: 1px solid var(--black);

  top: 50%;
  z-index: -1;
}

.large-div {
  margin-right: 20px !important;
  margin-left: 20px !important;
  max-width: unset !important;
}

.large-div .normal-div {
  max-width: 1224px;
  margin-right: auto;
  margin-left: auto;
}

.relative-div {
  position: relative;
}

.no-margin-div {
  margin: unset !important;
}

.rotate-animation {
  transform: rotate(0deg) !important;
  transition: transform 2s;
}

.stepper-container {
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.stepper {
  display: flex;
  flex-direction: row;

  padding-bottom: 64px;
}

.stepper-with-logo {
  display: flex;
  flex-direction: row;
  width: 828px !important;
  margin: 64px auto 0 auto;
}

.stepper-swiper {
  display: flex;
  align-items: center;
}

.stepper-mobile,
.stepper-linear-progress {
  width: 100%;
}

.stepper-mobile {
  background-color: transparent !important;
}

.stepper-linear-progress {
  height: 4px;
  background-color: var(--white) !important;
}

.stepper-linear-progress div {
  height: 4px !important;
  background-color: var(--green) !important;
}

.stepper-step-number {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;

  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #000000;
}

.stepper-swiper-container {
  height: max-content;
  position: relative;
}

.stepper-slide {
  height: auto;
}

.flex-grid-container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.flex-grid {
  justify-content: flex-start !important;
  flex-wrap: nowrap;
}

.select {
  width: 244px;
}

.select-item-description {
  color: var(--gray);
  font-style: italic;
}

.button-text {
  font-weight: 600;
  font-size: 14px;
  text-transform: none;

  display: flex;
  gap: 12px;
  align-items: center;
}

/* .small-text {
  font-size: 11px;
}

.large-text {
  font-size: 12px;
} */

.button-small {
  width: 100%;
  height: 40px;
}

.button-large {
  width: 100%;
  height: 48px;
}

.button-fixed {
  padding: 12px 29px !important;
}

.icon-button-container {
  display: flex;
  border-radius: 8px;
  background: var(--lightest-blue);
  transition: 0.6s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.icon-button-container-disabled {
  background: var(--gray) !important;
}

.icon-button-container:hover {
  box-shadow: 1px 1px 0 var(--blue);
}

.icon-button-container-disabled:hover {
  box-shadow: unset;
}

.icon-button-body {
  display: flex;
  align-items: center;
}

.icon-button-small {
  width: 100%;
  height: 52px;
}

.icon-button-large {
  width: 100%;
  height: 64px;
}

.icon-button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: var(--black);

  width: fit-content;
  margin-left: 16px;
}

.numeric-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 32px 40px 32px;

  background: var(--white);
  box-shadow: 0 4px 8px rgba(44, 62, 62, 0.04);
  border-radius: 12px;
}

.numeric-icon-content {
  display: flex;
  flex-direction: row;
}

.numeric-small {
  height: 94px;
}

.card-icon {
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: url('/static/images/background/numeric-back.png') no-repeat center
    center;
}

.numeric-title-number {
  display: flex;
  flex-direction: column;
}

.numeric-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;

  color: #8091a3;
}

.numeric-number {
  color: #002030;

  font-style: normal;
  font-weight: 410;
  font-size: 48px;
  line-height: 57px;
}

.numeric-layout1-image,
.numeric-layout2-image {
  width: 118px;
  height: 60px;
}

.numeric-layout1-image {
  background: url('/static/images/background/stat1.png') no-repeat center center;
}

.numeric-layout2-image {
  background: url('/static/images/background/stat2.png') no-repeat center center;
}

.section-container {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin: 33px 0 33px 0;
}

.section {
  border-bottom: 1px solid #e7f4f4;
}

.section:last-child {
  border-bottom: none;
}

/* .section:hover {
  border-bottom: 1px solid var(--dark-green);
} */

/* .section:last-child:hover {
  border-bottom: none;
} */

.section-link {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.section-row {
  padding: 17px 0 17px 0;
}

.section-accordion-container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.section-accordion:last-child {
  border-bottom: none;
}

/* .section-accordion-active {
  border-bottom: 1px solid var(--light-green);
} */

.section-accordion-inactive {
  border-bottom: 1px solid #e7f4f4;
}

.section-accordion-title {
  display: flex;
  flex-direction: row;
}

.section-accordion-title-icon {
  margin-right: 17px;

  width: 24px;
  height: 24px;
}

.section-accordion-title-text {
  font-style: normal;
  font-weight: 415;
  font-size: 20px;
}

.remove-button {
  display: flex;
  flex-direction: row;

  cursor: pointer;
  user-select: none;
  opacity: 1;
}

.remove-button:hover {
  opacity: 0.6;
}

.remove-icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.remove-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  color: #ff7979;
}

.fav-button,
.fav-button-enabled {
  width: 24px;
  height: 24px;

  cursor: pointer;
}

.fav-button,
.fav-button-enabled:hover {
  background: url('/static/images/shape/heart.png');
}

.fav-button:hover,
.fav-button-enabled {
  background: url('/static/images/shape/heart-filled.png');
}

.text-masking-container {
  width: 100%;
}

.text-masking-items {
  padding: 16px 0 24px 0;
}

.text-masking-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 8px 0;
}

.data-accordion-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data-accordion-summary {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.data-accordion-title {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.data-accordion-title-icon {
  width: 24px;
  height: 24px;

  margin-right: 17px;
}

.data-accordion-title-content {
  display: flex;
  flex-direction: column;
}

.data-accordion-title-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.data-accordion-title-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;

  display: flex;
  align-items: center;

  color: #8091a3;
}

.data-accordion-summary-progress {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-left: 17px;
}

.data-accordion-progress {
  flex-grow: 1;
  margin-top: 16px;
}

.data-accordion-content pre {
  white-space: pre-wrap;
  word-break: break-word;
}

.popup-paper {
  background: var(--white);
  box-shadow: 0 10px 20px rgba(44, 62, 62, 0.04),
    0 2px 6px rgba(44, 62, 62, 0.04), 0 0 1px rgba(44, 62, 62, 0.04);
  border-radius: 12px;
  overflow-x: hidden;
  width: 50%;
}

.closable-panel-container {
  position: relative;
}

.closable-panel-open {
  opacity: 1;
}

.closable-panel-close {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.closable-panel-icon {
  cursor: pointer;
  user-select: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.tour-step-container {
  display: flex;
  flex-direction: column;
  padding: 0 7px;
  text-align: left;

  gap: 24px;
}

.tour-step-container > p {
  font-size: 14px;
  color: #1f3c5a;
}

.tour-nav-buttons {
  width: 100%;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #e7f4f4;
  padding-top: 20px;
}

.tour-nav-buttons .form-button {
  width: 88px;
}

.__floater__arrow > span {
  margin: 10px;
}

.react-joyride__beacon {
  background: url('/static/images/shape/question.svg') no-repeat center center;
  right: -10px;
  /* top: 10px; */
  visibility: visible;
}

.react-joyride__beacon span {
  visibility: hidden;
}

.react-joyride__tooltip svg {
  display: none;
}

#react-joyride-portal {
  z-index: 10000;
}

.main-container {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: var(--lightest-blue);
}

.sidenav-and-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: inherit;
}

.content {
  width: calc(100% - 256px);
}

.content > div {
  width: 100%;
  height: 100%;
  background-color: var(--lightest-blue);
  display: flex;
  flex-direction: column;
}

.sidenav > div {
  width: 256px;
  height: max(100vh, 100%);
  background-color: var(--white);
}

.sidenav-container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.sidenav-logo {
  margin: 48px 0 48px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidenav-close-button {
  margin-right: 26px;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
}

.sidenav-links-container {
  display: flex;
  flex-direction: column;
}

.sidenav-link {
  display: flex;
  flex-direction: row;
  width: 100%;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.sidenav-link-active {
  opacity: 1;
}

.sidenav-link-inactive {
  opacity: 0.5;
}

.sidenav-link-inactive:hover {
  opacity: 1;
}

.sidenav-icon-title {
  width: 100%;
  color: var(--black);
  display: flex;
  flex-direction: row;
  white-space: nowrap;

  align-items: center;
  margin: 17px 48px 17px 0;
}

.sidenav-icon {
  margin-right: 16px;
  height: 24px;
}

.sidenav-border {
  width: 4px;
  margin-right: 36px;
  height: inherit;
}

.sidenav-border-active {
  background-color: var(--light-green);
  transition: background-color 500ms linear;
}

.sidenav-border-inactive {
  background-color: transparent;
}

.welcome-container {
  overflow: hidden;
  border-radius: 20px;
  background: url('/static/images/background/welcome.png') no-repeat center
    center;
  background-size: cover;
  padding: 20px;
  margin: 20px;

  bottom: 0;
  position: fixed;
  width: 176px;
}

.welcome-text {
  margin-bottom: 32px;
  width: 128px;
}

.circle-container {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
}

.circle-colorful {
  background: url('/static/images/background/circle-pattern.webp');
  background-size: cover;
  border-radius: 50%;
}

.circle-colorful-gradient {
  background: linear-gradient(180deg, #54ffad 0%, #6eecfd 100%);
  border-radius: 50%;
}

.welcome-circle1,
.welcome-circle2,
.welcome-circle3 {
  position: absolute;
}

.welcome-circle1 {
  width: 368px;
  height: 368px;
  bottom: -227px;
  right: -247px;
}

.welcome-circle2 {
  width: 18px;
  height: 18px;
  bottom: 108px;
  right: 20px;
}

.welcome-circle3 {
  width: 41px;
  height: 41px;
  bottom: -34px;
  right: 28px;
}

.card-gap {
  gap: 32px;
}

.form-item-gap {
  gap: 16px;
}

.form-button-right {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.form-button {
  width: 114px;
}

.simple-card {
  display: flex;
  flex-direction: column;
  background: var(--white);
  box-shadow: 0 4px 8px rgba(44, 62, 62, 0.04);
  border-radius: 12px;
  padding: 32px;

  gap: 24px;
}

.simple-card .simple-card {
  box-shadow: none;
  padding: 0;
}

.page-content {
  margin: 64px;
  z-index: 1;
}

.half-cards {
  flex-wrap: nowrap;
}

.wallet-numerics {
  flex-wrap: wrap;
}

.wallet-numerics > div {
  width: 100% !important;
}

.page-container {
  min-height: max(100vh, 900px);
  overflow: hidden;
  position: relative;
}

.page-header {
  margin-bottom: 32px;
}

.wallet-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wallet-title-question-mark {
  width: 16px;
  height: 16px;

  margin-left: 8px;
}

.withdraw-read-more-button {
  margin-top: 16px;
}

.half-form-items {
  flex-wrap: nowrap;
}

.form-message-container {
  display: flex;
  flex-direction: row;

  align-items: baseline;
}

.form-message-text {
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  font-size: 12px;

  margin-left: 8px;
}

.form-message-balance {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  margin-left: 20px;
}

.theme-circle1,
.theme-circle2,
.theme-circle3 {
  position: absolute;
}

.theme-circle1 {
  width: 61px;
  height: 61px;
  top: 25px;
  right: 215px;
}

.theme-circle2 {
  width: 147px;
  height: 147px;
  top: -81px;
  right: 136px;
}

.theme-circle3 {
  width: 319px;
  height: 319px;
  bottom: -170px;
  right: 783px;
}

.theme-layout2-circle3 {
  bottom: -209px;
}

.theme-layout3-circle3 {
  display: none;
}

.on-line-circle1,
.on-line-circle2,
.on-line-circle3,
.on-line-circle4,
.on-line-circle5 {
  position: absolute;
}

.on-line-circle1 {
  width: 22px;
  height: 22px;
  top: 34px;
  left: 0;
  z-index: 1;
}

.on-line-circle2 {
  width: 67px;
  height: 67px;
  top: 13px;
  right: 55%;
  z-index: 3;
}

.on-line-circle3 {
  width: 90px;
  height: 90px;
  top: 0;
  right: 12%;
  z-index: 2;
}

.on-line-container {
  width: 100%;
  height: 90px;
  position: relative;
  display: flex;

  overflow: hidden;
}

.circle-on-line {
  position: absolute;
  width: 544px;
  bottom: 34px;
  right: 0;
}

.closable-popup {
  padding: 32px;
}

.wallet-read-more-title {
  margin-bottom: 65px;
}

.invite-friends-container {
  padding-bottom: 182px !important;
}

.invite-friends-numerics {
  flex-wrap: nowrap;
}

.invite-friends-bonus-cards {
  flex-wrap: nowrap;
}

.or-share-on-line {
  display: flex;
  flex-direction: row;
}

.or-share-line {
  position: relative;
  width: 100%;
  opacity: 0.2;
}

.or-share {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #8091a3;

  white-space: nowrap;
  text-transform: uppercase;
  margin: 0 19px;
}

.win-swash-prize {
  height: 100%;
  background: url('/static/images/background/win-swash-prize.png') no-repeat
    center center;
  background-size: cover;

  overflow: hidden;
  position: relative;

  justify-content: space-between;
}

.win-swash-prize-content {
  gap: inherit;
  margin: 32px;
}

.win-swash-prize-title,
.win-swash-prize-text {
  width: 218px;
}

.win-swash-prize-button {
  margin-top: 42px;
  width: 125px;
}

.win-swash-prize-circle1,
.win-swash-prize-circle2,
.win-swash-prize-circle3 {
  position: absolute;
}

.win-swash-prize-circle1 {
  width: 188px;
  height: 188px;
  top: -103px;
  right: 36px;
}

.win-swash-prize-circle2 {
  width: 486px;
  height: 486px;
  bottom: -292px;
  right: -317px;
}

.win-swash-prize-circle3 {
  width: 34px;
  height: 34px;
  bottom: 137px;
  right: 44px;
}

.share-button {
  width: 100%;
}

.settings-container {
  padding-bottom: 142px !important;
}

.settings-backup-buttons {
  flex-wrap: nowrap;
  place-content: center;
}

.settings-backup-buttons > div {
  width: 25% !important;
}

.settings-2backup-buttons {
  flex-wrap: nowrap;
}

.reveal-private-key-button {
  width: 173px;
}

.toast-panel-container {
  background: white;
  box-shadow: 0 4px 8px rgba(44, 62, 62, 0.04);
  border-radius: 8px;
  padding: 8px;
}

.toast-panel {
  align-items: center;
}

.toast-image {
  margin: 0 12px;
}

.toast-title,
.toast-text {
  font-style: normal;
  font-weight: 415;
  font-size: 14px;
  line-height: 20px;
}

.toast-title {
  color: black;
}

.toast-text {
  color: #6b7883;
}

.toast-text::first-letter {
  text-transform: capitalize;
}

.toast-message-success {
  border-left: 4px solid var(--green);
}

.toast-message-error {
  border-left: 4px solid var(--error);
}

.toast-message-warning {
  border-left: 4px solid var(--warning);
}

.wallet-token-transfer-container {
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-token-transfer-content {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 138px 0;
}

.wallet-token-transfer-field-label {
  color: #8091a3;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.wallet-token-transfer-buttons {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.wallet-token-transfer-buttons .confirm-and-send {
  width: 170px;
}

.token-transfer-popup-completed {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.token-transfer-popup-completed > h2 {
  margin: 32px 0 20px 0;
}

.token-transfer-popup-completed > p {
  color: #1f3c5a;
}

.next-tour-button {
  width: 131px;
}

.section-accordion-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #1f3c5a;
}

.onboarding-container {
  height: 100vh;
  overflow-y: auto;
}

.stepper-card {
  width: 828px;
  margin: 0 auto 32px auto;
}

.verification-card {
  margin: 0 !important;
  width: 100% !important;
}

.onboarding-circle1,
.onboarding-circle2,
.onboarding-circle3,
.onboarding-circle4,
.onboarding-circle5,
.onboarding-circle6,
.onboarding-circle7 {
  position: absolute;
}

.onboarding-circle1 {
  height: 346px;
  width: 346px;
  left: -260px;
  top: 277px;
}

.onboarding-circle2 {
  height: 64px;
  width: 64px;
  left: 119px;
  top: 591px;
}

.onboarding-circle3 {
  height: 346px;
  width: 346px;
  left: -22px;
  top: 277px;
}

.onboarding-circle4 {
  height: 40px;
  width: 40px;
  right: -20px;
  top: 603px;
}

.onboarding-circle5 {
  height: 346px;
  width: 346px;
  right: -189px;
  top: 277px;
}

.onboarding-circle6 {
  height: 346px;
  width: 346px;
  right: 49px;
  top: 277px;
}

.onboarding-circle7 {
  height: 80px;
  width: 80px;
  right: 117px;
  top: 251px;
}

.onboarding-start-title {
  margin-top: 32px;
}

.onboarding-start-text {
  color: #8091a3;
}

.accept-checkbox {
  align-items: center;
}

.accept-checkbox-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #1f3c5a;

  margin-left: 14px;

  cursor: pointer;
  user-select: none;
}

.onboarding-nav-buttons {
  width: 100%;
  align-items: center;
  justify-content: space-between;

  margin-top: 33px;
  border-top: 1px solid #e7f4f4;
  padding-top: 32px;
}

.onboarding-profile-text {
  margin-bottom: 32px;
}

.onboarding-join-iframe {
  width: 100%;
  height: 750px;
}

.import-your-config-card,
.onboarding-progress-card,
.onboarding-verify-email {
  display: flex;
  flex-direction: column;
  background: var(--white);
  box-shadow: 0 4px 8px rgba(44, 62, 62, 0.04);
  border-radius: 12px;
  align-items: center;
  width: 828px;
  margin: 0 auto;
}

.import-your-config-card {
  width: auto;
  white-space: nowrap;
}

.onboarding-verify-email {
  width: 764px;
  padding: 80px 0 32px 0;
  justify-content: center;
}

.onboarding-verify-email-content {
  text-align: center;
  width: 100%;
}
.onboarding-verify-email-content .onboarding-nav-buttons {
  width: unset !important;
  margin-left: 32px;
  margin-right: 32px;
}

.onboarding-verify-input {
  align-self: center;
  width: 413px;
}

.onboarding-verify-text {
  margin: 20px 0 32px 0;
}

.onboarding-verify-question {
  margin: 24px 0 33px 0;
}

.onboarding-progress-card {
  text-align: center;
  position: relative;
  padding: 88px 0;
}

.onboarding-progress-button {
  margin-top: 24px;
}

.onboarding-progress-card > h2 {
  margin: 32px 0 20px 0;
}

.onboarding-progress-card > p {
  color: #1f3c5a;
}

.progress-circles {
  position: relative;
}

.progress-circle1,
.progress-circle2,
.progress-circle3,
.progress-circle4,
.progress-circle5,
.progress-circle6,
.progress-arc {
  position: absolute;
}

.progress-dashed {
  height: 120px;
  width: 120px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
}

.progress-circle1 {
  height: 120px;
  width: 120px;
  top: 0;
  left: 0;
}

.progress-solid {
  height: 176px;
  width: 176px;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
}

.progress-circle2 {
  height: 176px;
  width: 176px;
  top: 0;
  left: 0;
}

.progress-circle3 {
  height: 20px;
  width: 20px;
  right: 26px;
  top: 8px;
}

.progress-outer-circles {
  height: 232px;
  width: 232px;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto auto -28px auto;
}

.progress-arc {
  height: 116px;
  width: 116px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.progress-circle4 {
  height: 232px;
  width: 232px;
  top: 0;
  left: 0;
}

.progress-circle5 {
  height: 24px;
  width: 24px;
  top: -12px;
  right: 104px;
}

.progress-circle6 {
  height: 74px;
  width: 74px;
}

.progress-widget {
  position: relative;
  width: 74px;
  height: 74px;
  margin: auto;
  align-items: center;
  display: flex;
}

.progress-image {
  z-index: 1000;
  margin: auto;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 11px;
  height: 10px;
  border-radius: 5px;
  background-color: #00a9d8;
  color: #00a9d8;
  box-shadow: 9999px 0 0 0;
  -webkit-animation: dot-pulse 1.5s infinite linear;
  animation: dot-pulse 1.5s infinite linear;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 11px;
  height: 10px;
  border-radius: 5px;
  background-color: #00a9d8;
  color: #00a9d8;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 0;
  -webkit-animation: dot-pulse-before 1.5s infinite linear;
  animation: dot-pulse-before 1.5s infinite linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  left: -18px;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 0;
  -webkit-animation: dot-pulse-after 1.5s infinite linear;
  animation: dot-pulse-after 1.5s infinite linear;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  left: 18px;
}

@-webkit-keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 0;
  }

  .0% {
    box-shadow: 9984px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 9984px 0 0 -2px;
  }
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 0;
  }

  .0% {
    box-shadow: 9984px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 9984px 0 0 -2px;
  }
}

@-webkit-keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 0;
  }

  .0% {
    box-shadow: 9999px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 9999px 0 0 -2px;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 0;
  }

  .0% {
    box-shadow: 9999px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 9999px 0 0 -2px;
  }
}

@-webkit-keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 0;
  }

  .0% {
    box-shadow: 10014px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 10014px 0 0 -2px;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 0;
  }

  .0% {
    box-shadow: 10014px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 10014px 0 0 -2px;
  }
}

.email-sent-button {
  width: 278px;
}

.email-sent > p {
  max-width: 400px;
  text-align: center;
}

.congrats-button {
  width: 140px;
}

.import-your-config-button {
  width: 100%;
}

.import-your-config-card {
  padding: 24px;
  gap: 24px;
}

.import-your-config > p {
  margin: 16px 0 32px 0;
  color: #1f3c5a;
}

.section-accordion-container li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #1f3c5a;
}

.section-accordion-container .title1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.section-accordion-container .title2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.section-accordion-container a {
  color: var(--blue);
}

.help-wallet-earnings-image {
  background: url('/static/images/background/help-earnings.png') no-repeat
    center center;
  width: 418px;
  height: 264px;
  background-size: 418px 264px;
}

.help-getting-started-image {
  background: url('/static/images/background/help-popup.png') no-repeat center
    center;
  width: 300px;
  height: 486px;
  background-size: 300px 486px;
}

.sidenav-button-container {
  display: none;
  overflow: hidden;
}

.swash-logo {
  width: 127px;
  height: 36px;
}

.onboarding-start-cards {
  flex-wrap: nowrap;
}

.onboarding-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.import-your-config-2cards {
  flex-wrap: nowrap;
}

.onboarding-profile-form-items {
  flex-wrap: nowrap;
}

.import-your-config-cards {
  flex-wrap: nowrap;
}

.onboarding-iframe-wrapper {
  width: 100%;
  margin: 0 !important;
}

.waiting-progress {
  position: relative;
  margin: 10% auto 0 auto;
}

.waiting-progress p {
  padding: 55px 0;
  text-align: center;
}

.extension-popup-container {
  width: 360px;
  background-color: var(--lightest-blue);
  margin: 0;
  height: inherit;
}

.extension-popup-body {
  overflow: hidden;
  max-height: 600px;
}

.extension-popup {
  border-radius: 6px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04),
    0 0 1px rgba(0, 0, 0, 0.04);
  background-color: var(--white);
  padding: 24px;
  height: inherit;
}

.extension-popup-logo-and-switch {
  justify-content: space-between;
  align-items: center;
}

.extension-popup-logo {
  width: 88px !important;
  height: 25px !important;
}

.extension-popup-switch {
  align-items: center;
  justify-content: center;
}

.extension-popup-switch-label {
  margin-right: 8px;

  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #919191;
}

.extension-popup-numerics {
  flex-wrap: nowrap;
  margin: 35px 0 16px 0;
}

.extension-popup-numerics-container {
  padding: 24px 0 24px 24px;

  border: 1px solid #e9edef;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.extension-popup-numerics-label {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8091a3;
}

.extension-popup-numerics-value {
  font-style: normal;
  font-weight: 410;
  font-size: 24px;
  line-height: 28px;

  color: #002030;
}

.extension-popup-menu-item {
  align-items: center;
  padding: 16px;
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
  mix-blend-mode: normal;
  border-radius: 8px;
}

.extension-popup-menu-item:hover {
  opacity: 1;
  background-color: #f3f9f9;
}

.extension-popup-menu-item-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  margin-left: 16px;
}

.popup-wallet-icon,
.popup-profile-icon,
.popup-exclude-icon,
.popup-help-icon {
  width: 24px;
  height: 24px;
}

.popup-wallet-icon {
  background: url('/static/images/icons/sidenav/wallet-black.svg') no-repeat
    center center;
}

.extension-popup-menu-item:hover .popup-wallet-icon {
  background: url('/static/images/icons/sidenav/wallet.png') no-repeat center
    center;
}

.popup-profile-icon {
  background: url('/static/images/icons/sidenav/profile-black.svg') no-repeat
    center center;
}

.extension-popup-menu-item:hover .popup-profile-icon {
  background: url('/static/images/icons/sidenav/profile.png') no-repeat center
    center;
}

.popup-exclude-icon {
  background: url('/static/images/icons/sidenav/exclude-black.svg') no-repeat
    center center;
}

.extension-popup-menu-item:hover .popup-exclude-icon {
  background: url('/static/images/icons/sidenav/exclude.svg') no-repeat center
    center;
}

.popup-excluded {
  background: url('/static/images/icons/sidenav/exclude.svg') no-repeat center
    center;
}

.popup-help-icon {
  background: url('/static/images/icons/sidenav/support-black.svg') no-repeat
    center center;
}

.extension-popup-menu-item:hover .popup-help-icon {
  background: url('/static/images/icons/sidenav/support.svg') no-repeat center
    center;
}

.popup-welcome-container {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background: url('/static/images/background/welcome-popup.png') no-repeat
    center center;
  background-size: cover;
  padding: 24px 0 24px 24px;
  margin-top: 24px;
  bottom: 0;
}

.popup-welcome-text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.popup-welcome-circle1,
.popup-welcome-circle2,
.popup-welcome-circle3 {
  position: absolute;
}

.popup-welcome-circle1 {
  width: 368px;
  height: 368px;
  bottom: -275px;
  right: -241px;
}

.popup-welcome-circle2 {
  width: 18px;
  height: 18px;
  bottom: 60px;
  right: 26px;
}

.popup-welcome-circle3 {
  width: 41px;
  height: 41px;
  bottom: -30px;
  right: 24px;
}

.popup-learn-more-button {
  width: 125px;
}

.onboarding-popup-gap {
  margin-top: 24px;
}

.justify-space-between {
  justify-content: space-between;
}

.wallet-read-more {
  width: 426px;
}

.wallet-read-more h6 {
  line-height: 0;
}

.large-popup {
  width: 828px;
  height: max-content;
  overflow: hidden;
}

.small-popup {
  width: 362px;
  padding: 32px;
}

.custom-popup {
  width: auto;
  padding: 32px;
}

.small-popup-title {
  font-style: normal;
  font-weight: 415;
  font-size: 20px;
  line-height: 150%;

  color: #002030;
}

.small-popup-separator {
  width: calc(100% + 64px);
  height: 1px;
  margin: 32px -32px;
  border-bottom: 1px solid #e7f4f4;
}

.small-popup-actions {
  display: flex;
  justify-content: space-between;
}

.small-popup-actions-cancel {
  width: 114px;
}

.small-popup-actions-submit {
  width: 131px;
}

.sidenav-toggles {
  gap: 14px;
}

.tooltip-icon {
  z-index: 2;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
  user-select: none;
  background: url('/static/images/shape/question-gray.svg') no-repeat center
    center;
}

.tooltip-icon:hover {
  background: url('/static/images/shape/question.svg') no-repeat center center;
}

.tooltip-popper {
  z-index: 1;
  max-width: 147px;
}

.swash-logo {
  gap: 8px;
  align-items: flex-end;
}

.swash-version {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  color: #8091a3;
  align-self: center;
}

.help-video {
  width: 700px;
  height: 350px;
}

.help-video-alt {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid black;
}

.help-video-alt p {
  margin: 0 10px;
}

.donation-burn {
  display: flex;
  column-gap: 74px;
  align-items: center;
}

.ongoing-top-page,
.ongoing-top-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ongoing-top-page {
  background: #f3f9f9;
  mix-blend-mode: normal;
  border-radius: 12px;
  padding: 24px;
}

.ongoing-top-logo {
  width: 80px;
  height: 80px;

  background: #ffffff;
  box-shadow: 0 7px 11px rgba(86, 86, 86, 0.02);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.ongoing-top-body {
  min-width: 267px;
  margin-left: 24px;
}

.donation-burn-title,
.charity-title {
  font-style: normal;
  font-weight: 410;
  font-size: 24px;
  line-height: 150%;

  color: #002030;
}

.donation-burn-text {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #002030;
}

.donation-charities {
  gap: 24px;
}

.donation-charity {
  width: calc(50% - 12px);
}

.charity {
  width: 100%;
  height: 100%;

  background: #f3f9f9;
  mix-blend-mode: normal;
  border-radius: 12px;

  overflow: hidden;
}

.charity-banner {
  width: 100%;
  height: 200px;
  position: relative;
}

.charity-logo {
  width: 80px;
  height: 80px;

  position: absolute;
  right: 32px;
  bottom: -40px;

  background: #ffffff;
  box-shadow: 0 7px 11px rgba(86, 86, 86, 0.02);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.charity-body {
  height: calc(100% - 264px);
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.charity-location {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #8091a3;
}

.charity-text {
  margin-top: 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: #002030;

  min-height: 120px;
}

.charity-actions {
  margin-top: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charity-actions-donate {
  width: 114px;
}

.charity-actions-stop {
  width: 145px;
}

.charity-actions-website {
  width: 114px;
  margin-left: 14px;
}

.donate-type {
  width: 320px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donate-type-enabled,
.donate-type-disabled {
  display: flex;
  align-items: center;
}

.donate-type-disabled {
  color: #b6bec6;
}

.donate-item {
  margin-top: 24px;
}

.donate-option {
  margin-top: 16px;
}

.donate-option-grid {
  gap: 16px;
}

.donate-popup {
  width: 362px;
}

.donate-completed {
  width: 764px;
  text-align: center;
}

.donate-percent-option {
  width: 173px;
  height: 72px;
  border-radius: 12px;
  background: #ffffff;
  mix-blend-mode: normal;
  box-sizing: border-box;
  text-transform: none;
}

.donate-confirmation-header {
  display: flex;
  align-items: center;
}

.donate-confirmation-header > img {
  width: 16px;
  height: 16px;

  margin-right: 12px;
  transform: rotate(180deg);

  cursor: pointer;
}

.donate-confirmation-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donate-confirmation-row {
  display: flex;
  justify-content: space-between;
}

.donate-confirmation-name,
.donate-confirmation-value {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.donate-confirmation-name {
  color: #8091a3;
}

.donate-confirmation-value {
  color: #002030;
}

.transaction-header-container {
  align-items: center;
}

.transaction-filter-container {
  width: 243px;
  float: right;
}

.transaction-table-container {
  box-shadow: none;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.transaction-table-header tr th {
  font-family: Sans Sequel, sans-serif;
  font-style: normal;
  font-weight: 415;
  font-size: 14px;
  line-height: 16px;
  color: #002030;

  padding: 16px 24px;
}

.transaction-table-body tr td {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #002030;

  padding: 20px 24px;
  white-space: nowrap !important;
}

.transaction-table-body tr:last-child td,
.transaction-table-body tr:last-child th {
  border: 0;
}

.transaction-table-pagination {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.transaction-table-pagination div {
  display: flex;
}

.transaction-table-pagination div:first-child {
  justify-content: start;
}

.transaction-table-pagination div:last-child {
  justify-content: end;
}

.transaction-table-pagination-pages {
  background: #f3f9f9;
  border-radius: 8px;
}

.transaction-table-pagination-pages ul {
  padding: 4px;
}

.transaction-table-pagination-pages
  ul
  li
  > .MuiPaginationItem-root.Mui-selected,
.transaction-table-pagination-pages ul li > .MuiPaginationItem-previousNext {
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(44, 62, 62, 0.1);
  border-radius: 4px;
}

.transaction-loading {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.verification-iframe-wrapper {
  width: 100%;
  margin: 0 !important;
}

.verification-iframe {
  width: 100%;
  height: 480px;
}

.profile-simple-card {
  height: calc(100% - 64px);
  gap: 12px;
  justify-content: space-between;
}

.verify-profile {
  height: 100%;
  background: url('/static/images/background/verify-profile.png') no-repeat
    center center;
  background-size: cover;

  overflow: hidden;
  position: relative;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;

  border-radius: 12px;
  padding: 41px 32px;
}

.profile-header {
  display: flex;
  align-items: center;
}

.verify-profile-verified {
  display: flex;
  align-items: center;

  margin: -9px 0;
}

.verify-profile-verified > img {
  margin-right: 32px;
}

.profile-verification-container {
  background: #ffffff;
  border-radius: 100px;

  padding: 6px 12px;
  margin-left: 16px;
}

.verified-dark-background {
  background: #e7fcee;
}

.unverified-dark-background {
  background: rgba(255, 121, 121, 0.17);
}

.profile-status-short {
  padding: 6px 6px;
}

.profile-status-verified,
.profile-status-unverified,
.verified-info-title,
.verified-info-value,
.verified-info-unverified {
  font-style: normal;
  font-weight: 500;
}

.profile-status-verified,
.profile-status-unverified {
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 12px;
  color: #26f168;
}

.profile-status-unverified {
  color: #fc3333;
}

.profile-status-verified > img,
.profile-status-unverified > img {
  margin-left: -2px;
  margin-right: 2px;
}

.profile-status-short > .profile-status-verified > img,
.profile-status-short > .profile-status-unverified > img {
  margin: unset;
}

.verified-info-box {
  width: calc(100% - 48px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  mix-blend-mode: normal;
  border: 1px solid #e9edef;
  border-radius: 12px;

  padding: 21px 24px;

  cursor: pointer;
}

.verified-info-title {
  font-size: 12px;
  line-height: 16px;
  color: #8091a3;
}

.verified-info-value {
  font-size: 14px;
  line-height: 24px;
  color: #002030;
}

.verified-info-unverified {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 12px;
  line-height: 20px;
  color: #ff7979;
}

.verified-info-action {
  height: 30px;
}

.donation-bottom-margin {
  margin-bottom: 48px;
}
