@import 'fonts.css';
@import 'common.css';

.font-header {
  color: var(--color-black);
  font-family: var(--font-title-name);
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: -1.92px;
}

.font-subheader {
  color: var(--color-black);
  font-family: var(--font-title-name);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.font-caption {
  color: var(--color-black);
  font-variant-numeric: stacked-fractions ordinal;
  font-feature-settings: 'ss04' on, 'liga' off;
  font-family: var(--font-title-name);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.font-text {
  color: var(--color-black);
  font-feature-settings: 'ss04' on;
  font-family: var(--font-body-name);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.font-subtext {
  color: var(--color-black);
  font-feature-settings: 'ss02' on, 'ss03' on, 'ss04' on;
  font-family: var(--font-body-name);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.bg-yellow {
  background: var(--color-yellow);
}

.bg-purple {
  background: var(--color-purple);
}

.bg-soft-green {
  background: var(--color-soft-green);
}

.bg-soft-yellow {
  background: var(--color-soft-yellow);
}

.hide {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;

  color: var(--color-black);
  overflow-x: hidden !important;
}

body,
input,
select,
button {
  font-family: var(--font-body-name) !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.input-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 75px);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--font-title-name);
  margin: 0;
}

h1 {
  font-weight: 410;
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-weight: 410;
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-weight: 410;
  font-size: 24px;
  line-height: 150%;
}

h4 {
  font-weight: 410;
  font-size: 22px;
  line-height: 24px;
}

h5 {
  font-weight: 415;
  font-size: 24px;
  line-height: 150%;
}

/* h6 {z
  font-weight: 410;
  font-size: 28px;
  line-height: 33px;
} */

h6 {
  font-weight: 415;
  font-size: 20px;
  line-height: 150%;
}

p {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

p > a {
  color: var(--color-dark-purple);
}

a {
  text-decoration: none;
  color: var(--color-black);
  position: relative;

  transition: background-position 500ms ease;
}

a:hover {
  color: var(--dark-green);
}

hr.custom {
  border: 1px solid #e7f4f4;
  width: 100%;
  margin: 8px 0;
}

hr.nav {
  border: 1px solid #e7f4f4;
  width: calc(100% + 64px);
  margin: -32px 0 32px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
  align-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;

  position: relative;
}

.solid-line {
  width: 100%;
  position: absolute;
  border-top: 1px solid var(--color-black);

  top: 50%;
  z-index: -1;
}

.large-div {
  margin-right: 20px !important;
  margin-left: 20px !important;
  max-width: unset !important;
}

.large-div .normal-div {
  max-width: 1224px;
  margin-right: auto;
  margin-left: auto;
}

.relative-div {
  position: relative;
}

.no-margin-div {
  margin: unset !important;
}

.rotate-animation {
  transform: rotate(0deg) !important;
  transition: transform 2s;
}

.stepper-container {
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.stepper {
  display: flex;
  flex-direction: row;

  padding-bottom: 64px;
}

.stepper-with-logo {
  display: flex;
  flex-direction: row;
  width: 828px !important;
  margin: 64px auto 0 auto;
}

.stepper-swiper {
  display: flex;
  align-items: center;
}

.stepper-mobile,
.stepper-linear-progress {
  width: 100%;
}

.stepper-mobile {
  background-color: transparent !important;
}

.stepper-linear-progress {
  height: 4px;
  background-color: var(--color-white) !important;
}

.stepper-linear-progress div {
  height: 4px !important;
  background-color: var(--color-green) !important;
}

.stepper-step-number {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;

  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--color-jet-black);
}

.stepper-swiper-container {
  height: max-content;
  position: relative;
}

.stepper-slide {
  height: auto;
}

.flex-grid-container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.flex-grid {
  justify-content: flex-start !important;
  flex-wrap: nowrap;
}

.select {
  width: 244px;
}

.select-paper {
  background-color: var(--color-off-white);
}

.select-item-description {
  color: var(--color-grey);
  font-style: italic;
}

.button-text {
  font-weight: 600;
  font-size: 14px;
  text-transform: none;

  display: flex;
  gap: 12px;
  align-items: center;
}

/* .small-text {
  font-size: 11px;
}

.large-text {
  font-size: 12px;
} */

.button-small {
  width: 100%;
  height: 40px;
}

.button-large {
  width: 100%;
  height: 48px;
}

.button-fixed {
  padding: 12px 29px !important;
}

.icon-button-container {
  display: flex;
  border-radius: 8px;
  background: var(--color-off-white);
  transition: 0.6s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.icon-button-container-disabled {
  background: var(--color-lightest-grey) !important;
}

.icon-button-container:hover {
  box-shadow: 1px 1px 0 var(--color-grey);
}

.icon-button-container-disabled:hover {
  box-shadow: unset;
}

.icon-button-body {
  display: flex;
  align-items: center;
}

.icon-button-small {
  width: 100%;
  height: 52px;
}

.icon-button-large {
  width: 100%;
  height: 64px;
}

.icon-button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: var(--color-black);

  width: fit-content;
  margin-left: 16px;
}

.numeric-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 32px 40px 32px;

  background: var(--color-white);
  box-shadow: 0 4px 8px rgba(44, 62, 62, 0.04);
  border-radius: 12px;
}

.numeric-icon-content {
  display: flex;
  flex-direction: row;
}

.numeric-small {
  height: 94px;
}

.card-icon {
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: url('/static/images/background/numeric-back.png') no-repeat center
    center;
}

.numeric-title-number {
  display: flex;
  flex-direction: column;
}

.numeric-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;

  color: var(--color-jet-black);
}

.numeric-number {
  color: var(--color-darkest-grey);

  font-style: normal;
  font-weight: 410;
  font-size: 48px;
  line-height: 57px;
}

.numeric-layout1-image,
.numeric-layout2-image {
  width: 118px;
  height: 60px;
}

.numeric-layout1-image {
  background: url('/static/images/background/stat1.png') no-repeat center center;
}

.numeric-layout2-image {
  background: url('/static/images/background/stat2.png') no-repeat center center;
}

.section-container {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin: 33px 0 33px 0;
}

.section {
  border-bottom: 1px solid #e7f4f4;
}

.section:last-child {
  border-bottom: none;
}

.section-link {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.section-row {
  padding: 17px 0 17px 0;
}

.section-accordion-container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.section-accordion:last-child {
  border-bottom: none;
}

.section-accordion-inactive {
  border-bottom: 1px solid #e7f4f4;
}

.section-accordion-title {
  display: flex;
  flex-direction: row;
}

.section-accordion-title-icon {
  margin-right: 17px;

  width: 24px;
  height: 24px;
}

.section-accordion-title-text {
  font-style: normal;
  font-weight: 415;
  font-size: 20px;
}

.remove-button {
  display: flex;
  flex-direction: row;

  cursor: pointer;
  user-select: none;
  opacity: 1;
}

.remove-button:hover {
  opacity: 0.6;
}

.remove-icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.remove-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  color: var(--color-pink);
}

.fav-button,
.fav-button-enabled {
  width: 24px;
  height: 24px;

  cursor: pointer;
}

.fav-button,
.fav-button-enabled:hover {
  background: url('/static/images/shape/heart.png');
}

.fav-button:hover,
.fav-button-enabled {
  background: url('/static/images/shape/heart-filled.png');
}

.text-list-container {
  width: 100%;
}

.text-list-items {
  padding: 16px 0 24px 0;
}

.text-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 8px 0;
}

.data-accordion-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data-accordion-summary {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.data-accordion-title {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.data-accordion-title-icon {
  width: 24px;
  height: 24px;

  margin-right: 17px;
}

.data-accordion-title-content {
  display: flex;
  flex-direction: column;
}

.data-accordion-title-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.data-accordion-title-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;

  display: flex;
  align-items: center;

  color: var(--color-soft-green);
}

.data-accordion-summary-progress {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-left: 17px;
}

.data-accordion-progress {
  flex-grow: 1;
  margin-top: 16px;
}

.data-accordion-content pre {
  white-space: pre-wrap;
  word-break: break-word;
}

.data-tab {
  text-transform: none !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  padding: 24px 32px 11px 32px;
}

.popup-paper {
  background: var(--color-white);
  box-shadow: 0 10px 20px rgba(44, 62, 62, 0.04),
    0 2px 6px rgba(44, 62, 62, 0.04), 0 0 1px rgba(44, 62, 62, 0.04);
  border-radius: 12px;
  overflow-x: hidden;
  width: 50%;
}

.closable-panel-container {
  position: relative;
}

.closable-panel-open {
  opacity: 1;
}

.closable-panel-close {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.closable-panel-hide {
  display: none;
}

.closable-panel-icon {
  cursor: pointer;
  user-select: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.main-container {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: var(--color-lightest-grey);
}

.sidenav-and-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: inherit;
}

.content {
  width: calc(100% - 256px);
  position: relative;
}

.content > div {
  width: 100%;
  height: 100%;
  background-color: var(--color-lightest-grey);
  display: flex;
  flex-direction: column;
}

.dark-theme-toggle {
  width: unset !important;
  height: unset !important;

  position: absolute !important;
  top: 80px !important;
  right: 64px !important;

  z-index: 2 !important;

  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
}

.dark-theme-toggle img {
  width: 20px;
  height: 20px;
}

.dark-theme-active {
  filter: invert(60%) sepia(78%) saturate(1824%) hue-rotate(242deg)
    brightness(103%) contrast(95%);
}

.sidenav > div {
  width: 256px;
  height: max(100vh, 100%);
  background-color: var(--color-white);
}

.sidenav-container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.sidenav-logo {
  margin: 48px 0 48px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidenav-close-button {
  margin-right: 26px;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
}

.sidenav-links-container {
  display: flex;
  flex-direction: column;
}

.sidenav-link {
  display: flex;
  flex-direction: row;
  width: 100%;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.sidenav-link-active {
  opacity: 1;
}

.sidenav-link-inactive {
  opacity: 0.5;
}

.sidenav-link-inactive:hover {
  opacity: 1;
}

.sidenav-icon-title {
  width: 100%;
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  white-space: nowrap;

  align-items: center;
  margin: 17px 48px 17px 0;
}

.sidenav-icon {
  margin-right: 16px;
  height: 24px;
}

.sidenav-border {
  width: 4px;
  margin-right: 36px;
  height: inherit;
}

.sidenav-border-active {
  background-color: var(--color-dark-purple);
  transition: background-color 500ms linear;
}

.sidenav-border-inactive {
  background-color: transparent;
}

.sidenav-ads {
  position: fixed;
  bottom: 0;
  left: 0;
}

.select-item-value {
  font-family: var(--font-body-name);
}

.circle-container {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
}

.circle-colorful {
  background: url('/static/images/background/circle-pattern.webp');
  background-size: cover;
  border-radius: 50%;
}

.circle-colorful-gradient {
  background: linear-gradient(180deg, #54ffad 0%, #6eecfd 100%);
  border-radius: 50%;
}

.card-gap {
  gap: 32px;
}

.form-item-gap {
  gap: 16px;
}

.form-button-right {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.form-button {
  width: 114px;
}

.simple-card {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border-radius: 16px;
  padding: 28px;

  gap: 24px;
}

.simple-card .simple-card {
  box-shadow: none;
  padding: 0;
}

.page-content {
  margin: 64px;
  z-index: 1;
}

.half-cards {
  flex-wrap: nowrap;
}

.wallet-numerics {
  flex-wrap: wrap;
}

.wallet-numerics > div {
  width: 100% !important;
}

.page-container {
  min-height: max(100vh, 900px);
  overflow: hidden;
  position: relative;
}

.page-header {
  margin-bottom: 32px;
}

.wallet-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wallet-title-question-mark {
  width: 16px;
  height: 16px;

  margin-left: 8px;
}

.withdraw-read-more-button {
  margin-top: 16px;
}

.half-form-items {
  flex-wrap: nowrap;
}

.form-message-container {
  display: flex;
  flex-direction: row;

  align-items: baseline;
}

.form-message-text {
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  font-size: 12px;

  margin-left: 8px;
}

.form-message-balance {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  margin-left: 20px;
}

.closable-popup {
  padding: 32px;
}

.wallet-read-more-title {
  margin-bottom: 65px;
}

.invite-friends-container {
  padding-bottom: 182px !important;
}

.invite-friends-numerics {
  flex-wrap: nowrap;
}

.invite-friends-bonus-cards {
  flex-wrap: nowrap;
}

.or-share-on-line {
  display: flex;
  flex-direction: row;
}

.or-share-line {
  position: relative;
  width: 100%;
  opacity: 0.2;
}

.or-share {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-soft-green);

  white-space: nowrap;
  text-transform: uppercase;
  margin: 0 19px;
}

.win-swash-prize {
  height: 100%;
  background-color: var(--color-soft-green) !important;

  overflow: hidden;
  position: relative;

  justify-content: space-between;
}

.win-swash-prize-content {
  height: 100%;

  gap: inherit;
  margin: 32px;
}

.win-swash-prize-title,
.win-swash-prize-text {
  max-width: 320px;

  color: var(--color-jet-black);
}

.win-swash-prize-text {
  margin-top: 22px;
}

.win-swash-prize-button {
  width: 125px;
}

.win-swash-prize-img {
  width: auto;
  height: 75%;

  position: absolute;
  bottom: 0;
  right: 0;
}

.share-button {
  width: 100%;
}

.settings-container {
  padding-bottom: 142px !important;
}

.settings-backup-buttons {
  flex-wrap: nowrap;
  place-content: center;
}

.settings-backup-buttons > div {
  width: 25% !important;
}

.settings-2backup-buttons {
  flex-wrap: nowrap;
}

.settings-columns > div > div {
  height: calc(100% - 64px);
}

.reveal-private-key-button {
  width: 173px;
}

.manage-preferences-key-button {
  width: 100%;
}

.wallet-token-transfer-container {
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-token-transfer-content {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 138px 0;
}

.wallet-token-transfer-field-label {
  color: var(--color-dark-grey);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.wallet-token-transfer-buttons {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.wallet-token-transfer-buttons .confirm-and-send {
  width: 170px;
}

.token-transfer-popup-completed {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.token-transfer-popup-completed > h2 {
  margin: 32px 0 20px 0;
}

.token-transfer-popup-completed > p {
  color: var(--color-dark-purple);
}

.section-accordion-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: var(--color-dark-purple);
}

.onboarding-container {
  height: 100vh;
  overflow-y: auto;
}

.stepper-card {
  width: 828px;
  margin: 0 auto 32px auto;
}

.stepper-card > .simple-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.verification-card {
  margin: 0 !important;
  width: 100% !important;
}

.onboarding-start-title {
  margin-top: 32px;
}

.onboarding-start-text {
  color: var(--color-dark-grey);
}

.accept-checkbox {
  align-items: center;
}

.accept-checkbox-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: var(--color-darkest-grey);

  margin-left: 14px;

  cursor: pointer;
  user-select: none;
}

.onboarding-nav-buttons {
  width: 100%;
  align-items: center;
  justify-content: space-between;

  margin-top: 33px;
  border-top: 1px solid #e7f4f4;
  padding-top: 32px;
}

.onboarding-profile-text {
  margin-bottom: 32px;
}

.onboarding-join-iframe {
  width: 100%;
  height: 750px;
}

.import-your-config-card,
.onboarding-progress-card,
.onboarding-verify-email {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  box-shadow: 0 4px 8px rgba(44, 62, 62, 0.04);
  border-radius: 12px;
  align-items: center;
  width: 828px;
  margin: 0 auto;
}

.import-your-config-card {
  width: auto;
  white-space: nowrap;
}

.onboarding-verify-email {
  width: 764px;
  padding: 80px 0 32px 0;
  justify-content: center;
}

.onboarding-verify-email-content {
  text-align: center;
  width: 100%;
}
.onboarding-verify-email-content .onboarding-nav-buttons {
  width: unset !important;
  margin-left: 32px;
  margin-right: 32px;
}

.onboarding-verify-input {
  align-self: center;
  width: 413px;
}

.onboarding-verify-text {
  margin: 20px 0 32px 0;
}

.onboarding-verify-question {
  margin: 24px 0 33px 0;
}

.onboarding-progress-card {
  text-align: center;
  position: relative;
  padding: 88px 0;
}

.onboarding-progress-button {
  margin-top: 24px;
}

.onboarding-progress-card > h2 {
  margin: 32px 0 20px 0;
}

.onboarding-progress-card > p {
  color: var(--color-darkest-grey);
}

.onboarding-congrats-card {
  padding: 32px 0 50px 0;
  position: relative;
}

.onboarding-congrats-card > h2 {
  margin: unset;
}

.onboarding-congrats-card > .close-button {
  position: absolute;
  top: 6px;
  right: 6px;
  line-height: 10px;
  cursor: pointer;
}

.onboarding-congratz-message {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 31px 22px 17px 22px;
}

.onboarding-congratz-message > img {
  margin: 0 auto;
  display: block;
  width: 50%;
}

.progress-circles {
  position: relative;
}

.progress-circle1,
.progress-circle2,
.progress-circle3,
.progress-circle4,
.progress-circle5,
.progress-circle6,
.progress-arc {
  position: absolute;
}

.progress-dashed {
  height: 120px;
  width: 120px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
}

.progress-circle1 {
  height: 120px;
  width: 120px;
  top: 0;
  left: 0;
}

.progress-solid {
  height: 176px;
  width: 176px;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
}

.progress-circle2 {
  height: 176px;
  width: 176px;
  top: 0;
  left: 0;
}

.progress-circle3 {
  height: 20px;
  width: 20px;
  right: 26px;
  top: 8px;
}

.progress-outer-circles {
  height: 232px;
  width: 232px;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto auto -28px auto;
}

.progress-arc {
  height: 116px;
  width: 116px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.progress-circle4 {
  height: 232px;
  width: 232px;
  top: 0;
  left: 0;
}

.progress-circle5 {
  height: 24px;
  width: 24px;
  top: -12px;
  right: 104px;
}

.progress-circle6 {
  height: 74px;
  width: 74px;
}

.progress-widget {
  position: relative;
  width: 74px;
  height: 74px;
  margin: auto;
  align-items: center;
  display: flex;
}

.progress-image {
  z-index: 1000;
  margin: auto;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 11px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-darkest-grey);
  color: var(--color-darkest-grey);
  box-shadow: 9999px 0 0 0;
  -webkit-animation: dot-pulse 1.5s infinite linear;
  animation: dot-pulse 1.5s infinite linear;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 11px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-darkest-grey);
  color: var(--color-darkest-grey);
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 0;
  -webkit-animation: dot-pulse-before 1.5s infinite linear;
  animation: dot-pulse-before 1.5s infinite linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  left: -18px;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 0;
  -webkit-animation: dot-pulse-after 1.5s infinite linear;
  animation: dot-pulse-after 1.5s infinite linear;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  left: 18px;
}

@-webkit-keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 0;
  }

  .0% {
    box-shadow: 9984px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 9984px 0 0 -2px;
  }
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 0;
  }

  .0% {
    box-shadow: 9984px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 9984px 0 0 -2px;
  }
}

@-webkit-keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 0;
  }

  .0% {
    box-shadow: 9999px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 9999px 0 0 -2px;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 0;
  }

  .0% {
    box-shadow: 9999px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 9999px 0 0 -2px;
  }
}

@-webkit-keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 0;
  }

  .0% {
    box-shadow: 10014px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 10014px 0 0 -2px;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 0;
  }

  .0% {
    box-shadow: 10014px 0 0 2px;
  }

  .0%,
  100% {
    box-shadow: 10014px 0 0 -2px;
  }
}

.email-sent-button {
  width: 278px;
}

.email-sent > p {
  max-width: 400px;
  text-align: center;
}

.congrats-button {
  width: 140px;
}

.import-your-config-button {
  width: 100%;
}

.import-your-config-card {
  padding: 24px;
  gap: 24px;
}

.import-your-config > p {
  margin: 16px 0 32px 0;
  color: var(--color-dark-grey);
}

.section-accordion-container li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: var(--color-dark-grey);
}

.section-accordion-container .title1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.section-accordion-container .title2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.section-accordion-container a {
  color: var(--color-soft-green);
}

.sidenav-button-container {
  display: none;
  overflow: hidden;
}

.onboarding-start-cards {
  flex-wrap: nowrap;
}

.onboarding-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.import-your-config-2cards {
  flex-wrap: nowrap;
}

.onboarding-profile-form-items {
  flex-wrap: nowrap;
}

.import-your-config-cards {
  flex-wrap: nowrap;
}

.onboarding-iframe-wrapper {
  width: 100%;
  margin: 0 !important;
}

.waiting-progress {
  position: relative;
  margin: 10% auto 0 auto;
}

.waiting-progress p {
  padding: 55px 0;
  text-align: center;
}

.extension-popup-container {
  width: 370px;
  background-color: var(--color-purple);
  margin: 0;
  height: inherit;
}

.extension-popup-body {
  overflow: hidden;
  max-height: 600px;
}

.extension-popup {
  border-radius: 6px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04),
    0 0 1px rgba(0, 0, 0, 0.04);
  background-color: var(--color-white);
  padding: 24px;
  height: inherit;
}

.extension-popup-logo-and-switch {
  justify-content: space-between;
  align-items: center;
}

.extension-popup-logo,
.extension-popup-logo > img {
  width: 88px !important;
  height: 25px !important;
}

.extension-popup-switch {
  align-items: center;
  justify-content: center;
}

.extension-popup-switch-label {
  margin-right: 8px;

  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-grey);
}

.extension-popup-numerics {
  flex-wrap: nowrap;
  margin: 35px 0 16px 0;
}

.extension-popup-numerics-container {
  padding: 24px 0 24px 24px;

  border: 1px solid var(--color-light-grey);
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.extension-popup-numerics-label {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-jet-black);
}

.extension-popup-numerics-value {
  font-style: normal;
  font-weight: 410;
  font-size: 24px;
  line-height: 28px;

  color: var(--color-darkest-grey);
}

.extension-popup-menu-item {
  align-items: center;
  padding: 16px;
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
  mix-blend-mode: normal;
  border-radius: 8px;
}

.extension-popup-menu-item:hover {
  opacity: 1;
  background-color: var(--color-light-grey);
}

.extension-popup-menu-item:last-of-type {
  margin-bottom: 16px;
}

.extension-popup-menu-item-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  margin-left: 16px;
}

.popup-wallet-icon,
.popup-earn-more-icon,
.popup-settings-icon,
.popup-help-icon {
  width: 24px;
  height: 24px;
}

.popup-wallet-icon {
  background: url('/static/images/icons/sidenav/wallet.svg') no-repeat center
    center;
}

.popup-earn-more-icon {
  background: url('/static/images/icons/sidenav/earn-more.svg') no-repeat center
    center;
}

.popup-settings-icon {
  background: url('/static/images/icons/sidenav/settings.svg') no-repeat center
    center;
}

.popup-help-icon {
  background: url('/static/images/icons/sidenav/help.svg') no-repeat center
    center;
}

.onboarding-popup-gap {
  margin-top: 24px;
}

.justify-space-between {
  justify-content: space-between;
}

.wallet-read-more {
  width: 426px;
}

.wallet-read-more h6 {
  line-height: 0;
}

.large-popup {
  width: 828px;
  height: max-content;
  overflow: hidden;
}

.small-popup {
  width: 362px;
  padding: 32px;
}

.custom-popup {
  width: auto;
  padding: 32px;
}

.small-popup-title {
  font-style: normal;
  font-weight: 415;
  font-size: 20px;
  line-height: 150%;

  color: var(--color-darkest-grey);
}

.small-popup-separator {
  width: calc(100% + 64px);
  height: 1px;
  margin: 32px -32px;
  border-bottom: 1px solid #e7f4f4;
}

.small-popup-actions {
  display: flex;
  justify-content: space-between;
}

.small-popup-actions-center {
  display: flex;
  justify-content: center;
}

.small-popup-actions-cancel {
  width: 114px;
}

.small-popup-actions-submit {
  width: 131px;
}

.sidenav-toggles {
  gap: 14px;
}

.tooltip-icon {
  z-index: 2;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
  user-select: none;
  background: url('/static/images/shape/question-gray.svg') no-repeat center
    center;
}

.tooltip-icon:hover {
  background: url('/static/images/shape/question.svg') no-repeat center center;
}

.tooltip-popper {
  z-index: 1;
  max-width: 147px;
}

.swash-logo-container {
  gap: 8px;
  align-items: center;
}

.swash-logo {
  width: 105px;
  height: 30px;
}

.swash-version {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  color: var(--color-dark-grey);
  align-self: center;
}

.donation-burn {
  display: flex;
  column-gap: 74px;
  align-items: center;
}

.ongoing-top-page,
.ongoing-top-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ongoing-top-page {
  background: #f3f9f9;
  mix-blend-mode: normal;
  border-radius: 12px;
  padding: 24px;
}

.ongoing-top-logo {
  width: 80px;
  height: 80px;

  background: #ffffff;
  box-shadow: 0 7px 11px rgba(86, 86, 86, 0.02);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.ongoing-top-body {
  min-width: 267px;
  margin-left: 24px;
}

.donation-burn-title,
.charity-title {
  font-style: normal;
  font-weight: 410;
  font-size: 24px;
  line-height: 150%;

  color: var(--color-darkest-grey);
}

.donation-burn-text {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;

  color: var(--color-darkest-grey);
}

.donation-charities {
  gap: 24px;
}

.donation-charity {
  width: calc(50% - 12px);
}

.charity {
  width: 100%;
  height: 100%;

  background: #f3f9f9;
  mix-blend-mode: normal;
  border-radius: 12px;

  overflow: hidden;
}

.charity-banner {
  width: 100%;
  height: 200px;
  position: relative;
}

.charity-logo {
  width: 80px;
  height: 80px;

  position: absolute;
  right: 32px;
  bottom: -40px;

  background: #ffffff;
  box-shadow: 0 7px 11px rgba(86, 86, 86, 0.02);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.charity-body {
  height: calc(100% - 264px);
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.charity-location {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: var(--color-grey);
}

.charity-text {
  margin-top: 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: var(--color-darkest-grey);

  min-height: 120px;
}

.charity-actions {
  margin-top: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charity-actions-donate {
  width: 114px;
}

.charity-actions-stop {
  width: 145px;
}

.charity-actions-website {
  width: 114px;
  margin-left: 14px;
}

.donate-type {
  width: 320px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donate-type-enabled,
.donate-type-disabled {
  display: flex;
  align-items: center;
}

.donate-type-disabled {
  color: var(--color-dark-grey);
}

.donate-item {
  margin-top: 24px;
}

.donate-option {
  margin-top: 16px;
}

.donate-option-grid {
  gap: 16px;
}

.donate-popup {
  width: 362px;
}

.donate-completed {
  width: 764px;
  text-align: center;
}

.donate-percent-option {
  width: 173px;
  height: 72px;
  border-radius: 12px;
  background: #ffffff;
  mix-blend-mode: normal;
  box-sizing: border-box;
  text-transform: none;
}

.donate-confirmation-header {
  display: flex;
  align-items: center;
}

.donate-confirmation-header > img {
  width: 16px;
  height: 16px;

  margin-right: 12px;
  transform: rotate(180deg);

  cursor: pointer;
}

.donate-confirmation-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donate-confirmation-row {
  display: flex;
  justify-content: space-between;
}

.donate-confirmation-name,
.donate-confirmation-value {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.donate-confirmation-name {
  color: var(--color-dark-grey);
}

.donate-confirmation-value {
  color: var(--color-darkest-grey);
}

.transaction-header-container {
  align-items: center;
}

.transaction-filter-container {
  width: 243px;
  float: right;
}

.transaction-table-container {
  box-shadow: none;
  border-top: 1px solid var(--color-off-white);
  border-bottom: 1px solid var(--color-off-white);

  background: transparent !important;
}

.transaction-table-header tr th {
  font-family: var(--font-title-name);
  font-style: normal;
  font-weight: 415;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-darkest-grey);

  padding: 16px 24px;
}

.transaction-table-body tr td {
  font-family: var(--font-body-name);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-darkest-grey);

  padding: 20px 24px;
  white-space: nowrap !important;
}

.transaction-table-body tr:last-child td,
.transaction-table-body tr:last-child th {
  border: 0;
}

.transaction-table-pagination {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.transaction-table-pagination div {
  display: flex;
}

.transaction-table-pagination div:first-child {
  justify-content: start;
}

.transaction-table-pagination div:last-child {
  justify-content: end;
}

.transaction-table-pagination-pages {
  background: #f3f9f9;
  border-radius: 8px;
}

.transaction-table-pagination-pages ul {
  padding: 4px;
}

.transaction-table-pagination-pages
  ul
  li
  > .MuiPaginationItem-root.Mui-selected,
.transaction-table-pagination-pages ul li > .MuiPaginationItem-previousNext {
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(44, 62, 62, 0.1);
  border-radius: 4px;
}

.transaction-loading {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.verification-iframe-wrapper {
  width: 100%;
  margin: 0 !important;
}

.verification-iframe {
  width: 100%;
  height: 480px;
}

.profile-simple-card {
  height: calc(100% - 64px);
  gap: 12px;
  justify-content: space-between;
}

.verify-profile {
  width: calc(100% - 76px);
  min-height: 124px;

  padding: 38px;
}

.verify-profile-punch {
  background-color: var(--color-lightest-grey);
}

.verify-profile-text {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.64px;
}

.verify-profile-img {
  width: auto;
  height: 124px;
}

.beta-badge-header {
  display: flex;
  align-items: flex-end;
}

.badge-header {
  display: flex;
  align-items: center;
}

.profile-verification-container {
  height: 14px !important;

  background: var(--color-white);
  border-radius: 100px;

  padding: 6px 10px;
  margin-left: 9px;
}

.verified-dark-background {
  background: var(--color-lightest-grey);
}

.unverified-dark-background {
  background: var(--color-darkest-grey);
}

.profile-status-short {
  padding: 6px 6px;
}

.profile-status-verified,
.profile-status-unverified,
.verified-info-title,
.verified-info-value,
.verified-info-unverified {
  font-style: normal;
  font-weight: 400;
}

.profile-status-verified,
.profile-status-unverified {
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 12px;
  color: var(--color-green);
}

.profile-status-unverified {
  color: var(--color-red);
}

.profile-status-verified > img,
.profile-status-unverified > img {
  margin-left: -2px;
  margin-right: 2px;
}

.profile-status-short > .profile-status-verified > img,
.profile-status-short > .profile-status-unverified > img {
  margin: unset;
}

.verified-info-box {
  width: calc(100% - 48px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  mix-blend-mode: normal;
  border: 1px solid #e9edef;
  border-radius: 12px;

  padding: 21px 24px;

  cursor: pointer;
}

.verified-info-title {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-dark-grey);
}

.verified-info-value {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-darkest-grey);
}

.verified-info-unverified {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 12px;
  line-height: 20px;
  color: var(--color-red);
}

.verified-info-action {
  height: 30px;
}

.donation-bottom-margin {
  margin-bottom: 48px;
}

.beta-badge,
.beta-badge-page {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-green);

  margin-left: 8px;
}

.beta-badge {
  margin-top: 4px;
}

.beta-badge-page {
  margin-bottom: 8px;
}

.earn-more-grid-container {
  width: 1008px;

  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.earn-more-option {
  width: 196px;
  height: 196px;

  padding: 18px;
  position: relative;

  border-radius: 12px;
  border: 1px solid transparent;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.earn-more-option:hover {
  border: 1px solid var(--color-black);
  color: unset;
}

.earn-more-option img {
  width: 100%;
  height: auto;

  position: absolute;

  top: 0;
  left: 0;
}

.earn-more-option-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.earn-more-option-subtitle {
  font-feature-settings: 'ss04' on;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.59px;
}

.earn-more-new-tab-cards {
  flex-wrap: nowrap;
}

.earn-more-new-tab-description {
  width: auto;
  max-width: calc(100% - 40px);
}

.earn-more-new-tab-image {
  width: 100%;
  height: 100%;
}

.earn-more-new-tab-image > img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.help-title {
  color: ;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.help-text {
  color: var(--color-jet-black);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.help-text a {
  text-decoration: underline;
}

.help-grid-container {
  width: 748px;

  margin: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.help-option {
  width: 198px;
  height: 198px;

  padding: 18px;
  position: relative;

  border-radius: 8px;
  border: 1px solid transparent;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.help-option:hover {
  border: 1px solid var(--color-black);
  color: unset;
}

.help-option img {
  width: 100%;
  height: auto;

  position: absolute;

  top: 0;
  left: 0;
}

.help-option-title {
  color: var(--color-darkest-grey);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.punched-container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.punched-circle {
  height: 25px;
  width: 25px;

  border-radius: 50%;
  display: inline-block;
  overflow: hidden;

  position: absolute;
}

.punched-circle.top,
.punched-circle.bottom {
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.punched-circle.right,
.punched-circle.left {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.punched-circle.top {
  top: -12.5px;
}

.punched-circle.right {
  right: -12.5px;
}

.punched-circle.bottom {
  bottom: -12.5px;
}

.punched-circle.left {
  left: -12.5px;
}
