@media only screen and (max-width: 1023px) {
  body,
  input,
  select,
  button {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .page-header {
    margin-bottom: 16px;
  }
  h6 {
    font-size: 18px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  p {
    font-size: 14px;
  }
  .card-gap {
    gap: 16px;
  }
  .wallet-cards {
    flex-wrap: wrap;
  }
  .wallet-cards > div {
    width: 100% !important;
  }
  .numeric-layout1-image {
    display: none;
  }
  .numeric-layout2-image {
    display: none;
  }
  .settings-backup-buttons {
    flex-wrap: wrap;
  }
  .settings-backup-buttons > div {
    width: 100% !important;
  }
  .settings-2backup-buttons {
    flex-wrap: wrap;
  }
  .settings-2backup-buttons > div {
    width: 100% !important;
  }
  .popup .MuiDialog-container {
    align-items: flex-end;
  }
  .popup-paper {
    margin: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: 100%;
    max-width: unset !important;
  }

  .wallet-data-transfer-content {
    margin: 45px 0;
  }

  .data-transfer-popup-completed {
    margin: 99px 0;
  }
  .theme-circle1,
  .theme-circle2,
  .theme-circle3,
  .circle-on-line {
    display: none;
  }
  .page-content {
    margin: 20px;
  }
  .numeric-number {
    font-size: 36px !important;
  }
  .numeric-container {
    padding: 20px;
  }
  .simple-card {
    padding: 20px;
  }
  .claim-button {
    width: 71px;
  }
  .form-button {
    width: 100%;
  }
  .sidenav-button-container {
    background-color: var(--lightest-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .open-sidenav {
    width: initial;
    transition: all 1s;
  }
  .close-sidenav {
    width: 0;
    transition: all 0.5s;
  }
  .open-sidenav-button {
    height: initial;
    padding: 48px 20px 4px 20px;
    transition: all 1s;
  }
  .close-sidenav-button {
    height: 0;
    padding: 0;
    transition: all 0.5s;
  }
  .content-open-sidenav > div {
    width: calc(100% + 256px);
  }
  .content-close-sidenav > div {
    width: 100%;
  }
  .sidenav-close-button {
    visibility: visible;
  }
  .swash-logo {
    width: 98px;
    height: 28px;
  }

  .win-data-prize-circle1 {
    width: 79px;
    height: 79px;
    top: -20px;
    right: -22px;
  }

  .win-data-prize-circle2 {
    width: 318px;
    height: 318px;
    bottom: -229px;
    right: -179px;
  }

  .win-data-prize-circle3 {
    bottom: 55px;
    right: 40px;
  }

  .win-data-prize-title {
    width: 164px;
  }
  .win-data-prize-text {
    width: 208px;
  }

  .section-accordion-container p {
    font-size: 12px;
  }

  .section-accordion-container li {
    font-size: 12px;
  }

  .section-accordion-container .title1 {
    font-size: 14px;
  }

  .section-accordion-container .title2 {
    font-size: 12px;
  }
  .invite-friends-numerics {
    flex-wrap: wrap;
  }
  .invite-friends-numerics > div {
    width: 100% !important;
  }
  .invite-friends-bonus-cards {
    flex-wrap: wrap;
  }
  .invite-friends-bonus-cards > div {
    width: 100% !important;
  }
  .withdraw-form-items {
    flex-wrap: wrap;
  }
  .withdraw-form-items > div {
    width: 100% !important;
  }
  .reveal-private-key-button {
    width: 100%;
  }
  .section-accordion-title-text {
    font-size: 18px;
  }
  .next-tour-button {
    width: 100%;
  }
  .help-search-input {
    display: none;
  }
  .section-row {
    padding: 15px 0 15px 0;
  }
  .section-accordion-container .MuiAccordionSummary-root {
    margin: 20px 0 20px 0;
  }
  .help-wallet-earnings-image {
    width: 250px;
    height: 150px;
    background-size: 250px 150px;
  }
  .help-getting-started-image {
    width: 150px;
    height: 100px;
    background-size: 150px 100px;
  }
  .section-accordion-expand-icon {
    width: 10px;
    height: 10px;
  }
  .data-accordion-container {
    gap: 16px;
  }
  .data-accordion-container .MuiAccordionSummary-root {
    padding: 20px 26px 20px 20px;
  }
  .data-accordion-summary {
    display: inline-grid;
    gap: 16px;
  }
  .data-accordion-progress {
    display: none;
  }
  .wallet-data-transfer-container {
    margin: 20px;
  }
  .data-transfer-button {
    width: 152px;
  }
  .wallet-data-transfer-content {
    flex-direction: column;
    gap: 30px;
  }
  .wallet-data-transfer-content > img {
    transform: rotate(90deg);
  }
  .wallet-data-transfer-field {
    align-self: flex-start;
  }
}
