:root {
  --data-background: var(--color-white);
  --data-font-color: var(--color-black);
}

/* Sidenav */

.sidenav {
  width: 256px;
}

.sidenav.open {
  display: flex;
}

.sidenav.close {
  display: none;
}

.sidenav > div {
  /*width: 256px;*/
  height: max(100vh, 100%);
}

.sidenav-logo {
  margin: 48px 0 48px 32px;
}

.sidenav-close-button {
  margin-right: 26px;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
}

.sidenav-link {
  width: 100%;
}

.sidenav-link.active {
  opacity: 1;
}

.sidenav-link.inactive {
  opacity: 0.5;
}

.sidenav-link.inactive:hover {
  opacity: 1;
}

.sidenav-body {
  width: 100%;
  color: var(--color-black);

  padding: 17px 48px 17px 0;
}

.sidenav-icon {
  margin-right: 16px;
  height: 24px;
}

.sidenav-border {
  width: 4px;
  margin-right: 28px;
  height: inherit;
}

.sidenav-border.active {
  background-color: var(--color-dark-purple);
  transition: background-color 500ms linear;
}

.sidenav-border.inactive {
  background-color: transparent;
}

.sidenav-ads {
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Page structure */

.page-container {
  width: calc(100% - 256px);
  min-height: max(100vh, 900px);
}

.page-content {
  padding: 64px;
}

.dark-theme-toggle {
  width: unset !important;
  height: unset !important;

  top: 80px !important;
  right: 64px !important;

  z-index: 2 !important;
}

.dark-theme-toggle img {
  width: 20px;
  height: 20px;
}

.dark-theme-toggle.active {
  filter: invert(60%) sepia(78%) saturate(1824%) hue-rotate(242deg)
    brightness(103%) contrast(95%);
}

.page-header {
  margin-bottom: 32px;
}

/* Onboarding */

.onboarding-container {
  width: 100% !important;
}

.onboarding-block {
  width: 828px;
  margin: auto;
}

.onboarding-button {
  width: 114px;
  height: 48px;
}

.onboarding-join-iframe {
  width: 100%;
  height: 750px;
}

.onboarding-verify-input {
  align-self: center;
  width: 413px;
}

.onboarding-close-button {
  top: 32px;
  right: 32px;
  cursor: pointer;
}

/* Wallet */

.wallet-punch {
  --color: var(--color-purple) !important;
}

.wallet-withdraw-tabs {
  width: max-content;
  padding: 8px;

  border: 2px solid var(--color-purple);
  border-radius: 100px;
}

.wallet-withdraw-tabs > div {
  width: max-content;
  min-width: 170px;
  padding: 12px;
  border-radius: 100px;

  opacity: 0.5;
  cursor: pointer;
}

.wallet-withdraw-tabs > div:hover {
  background: var(--color-dark-purple);
  opacity: 1;
}

.wallet-toaster {
  height: 57px;
  border-radius: 100px;
  padding: 8px 16px;
}

.wallet-withdraw-network-popup {
  width: 579px;
}

.wallet-withdraw-network-option {
  border-radius: 16px;
  padding: 12px 16px;
  border: 2px solid var(--color-light-grey);
  cursor: pointer;
}

.wallet-withdraw-network-option:hover {
  border: 2px solid var(--color-purple);
}

/* Profile */

.profile-verification-banner {
  min-height: 124px;
}

.profile-verification-banner-text {
  width: 75%;
}

.profile-verification-banner-img {
  width: auto;
  height: 124px;
}

.profile-verification-banner.verified {
  --color: var(--color-soft-green);
}

.profile-verification-banner.unverified {
  --color: var(--color-soft-yellow);
}

/* Earn more */

.earn-more-container {
  width: 1008px;
  margin: auto;
}

.earn-more-option {
  width: 196px;
  height: 196px;

  padding: 18px;
  border-radius: 12px;
  border: 1px solid transparent;
}

.earn-more-option:hover {
  border: 1px solid var(--color-black);
  color: unset;
}

.earn-more-option img {
  width: 100%;
  height: auto;

  top: 0;
  left: 0;
}

.earn-from-ads-image {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.invite-friends-share-line {
  width: max-content;

  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  padding: 0 12px;
  text-transform: uppercase;
}

.invite-friends-win-prize-text {
  max-width: 320px;
}

.invite-friends-win-prize-button {
  width: 125px;
}

.invite-friends-win-prize-img {
  width: auto;
  height: 75%;

  bottom: 38px;
  right: 38px;
}

/* Donation */

.donation-ongoing {
  mix-blend-mode: normal;
  border-radius: 12px;
  padding: 24px;
}

.donation-ongoing-logo {
  width: 80px;
  height: 80px;

  box-shadow: 0 7px 11px rgba(86, 86, 86, 0.02);
  border-radius: 12px;
}

.donation-ongoing-action {
  width: 150px;
  height: 48px;
}

.donation-charity {
  width: calc(50% - 12px);
}

/* History */

.history-filter-container {
  width: 243px;
}

.history-table-container {
  box-shadow: none;
  border-top: 1px solid var(--color-off-white);
  border-bottom: 1px solid var(--color-off-white);

  background: transparent !important;
}

.history-table-header tr th {
  padding: 16px 24px;
}

.history-table-body tr td {
  padding: 20px 24px;
  white-space: nowrap !important;
}

.history-table-body tr:last-child td,
.history-table-body tr:last-child th {
  border: 0;
}

.history-table-pagination {
  width: 100%;
}

.history-table-pagination div {
  display: flex;
}

.history-table-pagination div:first-child {
  justify-content: start;
}

.history-table-pagination div:last-child {
  justify-content: end;
}

.history-table-pagination-pages {
  border-radius: 8px;
}

.history-table-pagination-pages ul {
  padding: 4px;
}

.history-table-pagination-pages ul li > .MuiPaginationItem-root.Mui-selected,
.history-table-pagination-pages ul li > .MuiPaginationItem-previousNext {
  background: var(--color-white);
  box-shadow: 0 1px 1px rgba(44, 62, 62, 0.1);
  border-radius: 4px;
}

.history-loading {
  width: 100%;
  height: 50px;
}

/* Settings */

.settings-action-reveal {
  width: 173px;
  height: 48px;
}

.data-tab {
  padding: 24px 32px 11px 32px;

  text-transform: none !important;
  font-size: 20px !important;
}

/* Help */

.help-container {
  width: 748px;
  margin: auto;
}

.help-option {
  width: 198px;
  height: 198px;

  padding: 18px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.help-option:hover {
  border: 1px solid var(--color-black);
  color: unset;
}

.help-option-image {
  width: 100%;
  height: auto;

  top: 0;
  left: 0;
}
