@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  body,
  input,
  select,
  button {
    line-height: 24px;
  }

  .page-header {
    margin: 32px 0;
  }

  .card-gap {
    gap: 16px;
  }

  .half-cards {
    flex-wrap: wrap;
  }

  .half-cards > div {
    width: 100% !important;
  }

  .wallet-numerics {
    flex-wrap: nowrap;
  }

  .numeric-layout1-image {
    display: none;
  }

  .numeric-layout2-image {
    display: none;
  }

  .settings-backup-buttons {
    flex-wrap: wrap;
    place-content: space-between;
  }

  .settings-backup-buttons > div {
    width: calc(50% - 8px) !important;
  }

  .settings-2backup-buttons {
    flex-wrap: nowrap;
  }

  .wallet-token-transfer-content {
    margin: 115px 0;
  }

  .token-transfer-popup-completed {
    margin: 78px 0;
  }

  .theme-circle1,
  .theme-circle2,
  .theme-circle3,
  .circle-on-line {
    display: none;
  }

  .page-content {
    margin: 32px;
  }

  .numeric-number {
    font-size: 36px !important;
  }

  .numeric-container {
    padding: 20px;
  }

  .simple-card {
    padding: 20px;
  }

  .form-button {
    width: 121px;
  }

  .numeric-container .form-button {
    width: 71px;
  }

  .swash-logo {
    width: 98px;
    height: 28px;
  }

  .win-swash-prize-circle1 {
    top: -110px;
    right: -82px;
  }

  .win-swash-prize-circle2 {
    bottom: -357px;
    right: -316px;
  }

  .win-swash-prize-circle3 {
    bottom: 74px;
    right: 48px;
  }

  .win-swash-prize-content {
    margin: 20px;
  }

  .win-swash-prize-button {
    margin-top: 65px;
  }

  .section-accordion-container p {
    font-size: 12px;
  }

  .section-accordion-container li {
    font-size: 12px;
  }

  .section-accordion-container .title1 {
    font-size: 14px;
  }

  .section-accordion-container .title2 {
    font-size: 12px;
  }

  .section-accordion-title-text {
    font-size: 18px;
  }

  .section-row {
    padding: 15px 0 15px 0;
  }

  .section-accordion-expand-icon {
    width: 10px;
    height: 10px;
  }

  .section-accordion-container .MuiAccordionSummary-root {
    margin: 20px 0 20px 0;
  }

  .data-accordion-container {
    gap: 16px;
  }

  .data-accordion-container .MuiAccordionSummary-root {
    padding: 20px 26px 20px 20px;
  }

  .data-accordion-progress {
    display: none;
  }

  .profile-simple-card {
    height: unset;
  }

  .wallet-token-transfer-container {
    margin: 20px;
  }

  .donation-charity {
    width: 100%;
  }

  .earn-more-grid-container,
  .help-grid-container {
    width: auto;
    justify-content: center;
  }
}
