.open {
  opacity: 1;
}

.close {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.icon {
  user-select: none;

  top: 0;
  right: 0;
}

/* Dark theme */

[data-theme="dark"] .icon path {
  stroke: var(--color-light-grey);
}
